<div role="radiogroup" [attr.aria-labelledby]="id" class="button-group">
  <label [attr.id]="id" class="label">{{ label }}</label>

  <button
    role="radio"
    [attr.arial-checked]="value === options.YES"
    type="button"
    class="button button-yes"
    (click)="activate(options.YES)"
    [class.button-pressed]="value == options.YES"
  >
    Yes
  </button>
  <button
    role="radio"
    [attr.arial-checked]="value === options.NO"
    type="button"
    class="button button-no"
    (click)="activate(options.NO)"
    [class.button-pressed]="value == options.NO"
  >
    No
  </button>
</div>
